<div class="main_container">
  <div class="grid_container">
    <div class="wrapper">
      <div class="header">
        <h1>Store</h1>
        <p>Browse our selection below to find the perfect device for you</p>
      </div>
      <div class="images">
        <div class="big-image"><img src="https://blog.mta.ua/assets/images/cache/assets/images/2023/serpen/iphone-14-pro-600x400.jpg"></div>
        <div class="small-images">
          <div class="small-image"><img src="https://www.presse-citron.net/app/uploads/2024/01/20240129_134354-200x200.jpg"></div>
          <div class="small-image"><img src="https://i.blogs.es/5acea6/1366_2000/200_200.jpeg"></div>
        </div>
        <div class="bottom-image"><img src="https://cdn.rios.hu/dl/cnt/2020-12/164935s.jpg/400"></div>
      </div>
    </div>
  </div>
</div>