<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper">
  <div class="modal-container">
    <div mat-dialog-content class="modal-content">
      <div class="close-icon">
        <button class="close" (click)="onCloseClick()"><mat-icon class="icon">close</mat-icon></button>
      </div>
      <h2 style="padding-bottom: 40px;">Our Values</h2>
        <ul class="bullets">
            <li><strong>Quality:</strong> We strive to deliver products and services of the highest quality, ensuring customer satisfaction.</li>
            <li><strong>Innovation:</strong> We embrace innovation and continually seek new ways to improve and evolve.</li>
            <li><strong>Integrity:</strong> Honesty and integrity are at the core of everything we do, from our relationships with customers to our business practices.</li>
            <li><strong>Community:</strong> We believe in giving back to the community and making a positive impact wherever we operate.</li>
        </ul>
    </div>
  </div>
</div>